 body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}



#display-image{
    width: 500px;
    height: 325px;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
}